{% extends 'base.html'%}
{% block head %}
    <title> Booking Agents Roster </title>
{% endblock%}
{% block body %}
    <h1> All Booking Agents </h1>

    <button onclick = "window.location.href='../staff_home';">Back</button> 

    <!-- Show flight information -->
    {% if data %}
    <table>
        <tr>
            <th>Email</th>
            <th>Booking Agent ID</th>
            <th>#Sales</th>
            <th>Commission</th>
        </tr>
        {% for row in data %}
        <tr>
            {% for key, value in row.items() %}
                <th> {{ value }} </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table> 
    {% else %}
        <p> Nothing to show here.. </p>  
    {% endif %}
{% endblock%}